# Stuff
airflow/logs/
.idea/
token.json
src/token.json

# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
.venv/
env/
venv/

# Logs
logs/
*.log

# Kedro cache / outputs
.kedro/

# OS files
.DS_Store
Thumbs.db
